---
import CTA from '../CTA.astro'
---

<div class="relative flex overflow-hidden py-24 bg-very-light-gray">
  <div class="mx-auto w-full max-w-6xl px-6 h-[520px] flex justify-between">
    <div class="flex flex-col justify-center">
      <h1>Next generation<br /> digital banking</h1>
      <p class="my-8 text-grayish-blue">
        Take your financial life online. Your Easybank account<br /> will be a one-stop-shop
        for spending, saving,<br /> budgeting, investing, and much more.
      </p>
      <CTA name="Request Invite" />
    </div>
    <div class="flex-1"></div>
  </div>
  <div
    class="absolute top-[-154px] right-[-389px] background overflow-hidden z-10">
    <img
      class=""
      width="1200px"
      src="./images/bg-intro-desktop.svg"
      alt=""
    />
  </div>
</div>
