---
import Information from '../components/sections/Information.astro'
import Articles from '../components/sections/Articles.astro'
import Landing from '../components/sections/Landing.astro'
import MainLayout from '../layouts/MainLayout.astro'
import SectionLayout from '../layouts/SectionLayout.astro'
---

<MainLayout>
  <SectionLayout name="landing">
    <div>
      <img
        class="absolute right-[-134px] top-[-38px]"
        src="./images/image-mockups.png"
        alt=""
      />
    </div>
    <Landing />
  </SectionLayout>
  <SectionLayout name="information">
    <Information />
  </SectionLayout>
  <SectionLayout name="articles">
    <Articles />
  </SectionLayout>
</MainLayout>
