:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply font-sans font-base text-project overflow-x-hidden;
}

body.stop {
  height: 100%;
  overflow: hidden;
}

h1 {
  @apply text-[2.2rem] xxs:text-5xl text-dark-blue xxs:leading-[3.4rem] leading-[2.8rem];
}
h2 {
  @apply text-[1.8rem] xxs:text-4xl;
}
h3 {
  @apply text-2xl;
}
p {
  @apply text-grayish-blue;
}
