---
import CTA from './CTA.astro'
import Logo from './Logo.astro'
const socials = ['facebook', 'youtube', 'twitter', 'pinterest', 'instagram']
const links = [
  'About Us',
  'Careers',
  'Contact',
  'Support',
  'Blog',
  'Privacy Policy',
]
---

<div class="bg-dark-blue py-10 pb-4 lg:py-12">
  <div
    class="mx-auto max-w-6xl px-6 lg:h-24 flex flex-col lg:flex-row justify-center items-center lg:items-stretch lg:justify-between">
    <div
      class="flex flex-col lg:justify-between justify-center items-center lg:items-start w-fit">
      <Logo light={true} />
      <ul class="flex mb-6 mt-8 lg:my-0 gap-4 lg:gap-3">
        {
          socials.map((item) => (
            <li>
              <a
                href="#"
                class="opacity-90 hover:opacity-100">
                <img
                  class="w-6 lg:w-auto"
                  src={`./images/icon-${item}.svg`}
                  alt={item}
                />
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <span class="flex-1"></span>
    <div class="links">
      <ul
        class="lg:grid lg:grid-cols-2 space-y-2 lg:gap-x-20 lg:h-full flex flex-col justify-center items-center">
        {
          links.map((item) => (
            <li class=" h-full">
              <a
                class="
                text-[0.9rem]
                lg:text-sm text-light-grayish-blue/80
                hover:text-light-grayish-blue
                "
                href="#">
                {item}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <span class="flex-1"></span>
    <div class="right">
      <div
        class="flex flex-col h-full lg:justify-between items-center my-8 lg:my-0 lg:items-end">
        <CTA name="Request Invite" />
        <p class="text-[0.9rem] text-center lg:text-right mt-6 lg:mt-0">
          <adress> © Easybank. All Rights Reserved</adress>
        </p>
      </div>
    </div>
  </div>
</div>
