---
export interface Props {
  light?: boolean
}

const { light = false } = Astro.props
---

<div class="logo flex w-fit">
  <a href="/">
    <img
      src={light ? './images/logo-light.svg' : './images/logo-dark.svg'}
      alt=""
    />
  </a>
</div>
