---
import Logo from './Logo.astro'
import CTA from './CTA.astro'
const navigationItems = ['Home', 'About', 'Contact', 'Blog', 'Careers']
---

<nav class="absolute w-full z-10 top-0 left-0 right-0 bg-white mx-auto py-4">
  <div class="wrapper px-6 flex items-center justify-between max-w-6xl mx-auto">
    <Logo />
    <div class="links text-sm font-base text-grayish-blue">
      <ul class="flex gap-6">
        {
          navigationItems.map((item) => (
            <li class="group ">
              <a href="#">{item}</a>
              <div
                class="border-b-2 scale-x-0  group-hover:scale-x-100 
              group-hover:cursor-pointer 
              origin-left
              transition-transform duration-300 ease-in-out"
              />
            </li>
          ))
        }
      </ul>
    </div>
    <CTA name="Request Invite" />
  </div>
</nav>
