---
import Logo from './Logo.astro'
import CTA from './CTA.astro'
const navigationItems = ['Home', 'About', 'Contact', 'Blog', 'Careers']
---

<nav class="absolute w-full top-0 left-0 right-0 bg-white mx-auto z-30">
  <div
    class="wrapper py-6 md:py-0 px-6 flex items-center justify-between max-w-6xl mx-auto">
    <Logo />
    <div class="links text-sm font-base text-grayish-blue">
      <ul class="hidden md:flex gap-6">
        {
          navigationItems.map((item) => (
            <li class="group flex flex-col h-20 justify-between hover:cursor-pointer ">
              <span class="h-2 " />
              <a href="#">{item}</a>

              <div
                class=" bg-gradient-to-r from-lime-green to-bright-cyan w-full  h-1 scale-x-0 group-hover:scale-x-100 
              
              origin-left
              transition-transform duration-300 ease-in-out"
              />
            </li>
          ))
        }
      </ul>
    </div>
    <div class="hidden md:flex">
      <CTA name="Request Invite" />
    </div>
  </div>
</nav>
