---
import BaseHead from '../components/BaseHead.astro'
import '../style/global.css'
import Nav from '../components/Nav.astro'
import Footer from '../components/Footer.astro'
---

<html lang="en">
  <BaseHead
    title="Front End"
    fav="./favicon-32x32.png"
  />
  <body>
    <header>
      <!-- ::Navigation Component:: -->
      <Nav />
    </header>

    <!-- ::Page contents:: -->

    <slot />

    <!-- ::Footer Components:: -->
    <Footer />
  </body>
</html>
