---
import BaseHead from '../components/BaseHead.astro'
import '../style/global.css'
import Nav from '../components/Nav.astro'
import Footer from '../components/Footer.astro'
---

<html lang="en">
  <BaseHead
    title="Frontend Mentor | Easybank landing page"
    fav="./favicon-32x32.png"
  />
  <body
    x-data="data"
    x-on:resize.window.throttle="window.innerWidth>=768? $el.classList.remove('stop'):''">
    <header>
      <!-- ::Navigation Component:: -->
      <Nav />
    </header>
    <!-- ::Page contents:: -->
    <main>
      <slot />
    </main>

    <!-- ::Footer Components:: -->
    <footer>
      <Footer />
    </footer>
    <!-- ::Modal:: -->
    <div
      class="menu-background md:hidden absolute bg-gradient-to-b from-dark-blue/80 to-dark-blue/0 top-0 h-screen right-0 left-0"
      x-ref="background"
      x-show="isMenuOpen"
      x-transition:enter="transition duration-500 ease-in-out"
      x-transition:enter-start="opacity-0"
      x-transition:enter-end="opacity-100"
      x-transition:leave="transition duration-500 ease-in-out"
      x-transition:leave-start="opacity-100"
      x-transition:leave-end="opacity-0">
    </div>
    <script>
      import Alpine from 'alpinejs'
      import Data from '../js/alpine.js'
      Alpine.data('data', Data)
    </script>
  </body>
</html>
